.content-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.button-div {
  position: absolute;
  bottom: 30px;
  width: 100%;

}
span{
  color: white;
}
.pause{
    display: none;
}
.show-button .pause{
    display: inline;
}
.show-button .play{
    display: none;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  object-fit: cover;
  filter: brightness(50%)
}
